<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:f="http://xmlns.jcp.org/jsf/core">
<h:body>
    <h:dataTable value="#{shopController.notebooks}" var="n">
        <h:column>
            <f:facet name="header">
                Notebook ID
            </f:facet>
            #{n.id}
        </h:column>
        <h:column>
            <f:facet name="header">
                Manufacturer
            </f:facet>
            #{n.manufacturer}
        </h:column>
        <h:column>
            <f:facet name="header">
                Model
            </f:facet>
            #{n.model}
        </h:column>
        <h:column>
            <f:facet name="header">
                Processor
            </f:facet>
            #{n.processor.manufacturer}
            #{n.processor.series}
            #{n.processor.model}
        </h:column>
        <h:column>
            <f:facet name="header">
                Value (netto)
            </f:facet>
            #{n.value}
        </h:column>
    </h:dataTable>
    <h:button value="Edit" outcome="edit/index"/>
</h:body>
</html>
